<mat-nav-list class="nav-list">
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/">Home</a>
  <mat-divider></mat-divider>
  <p mat-list-item><br></p>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <h1 mat-subheader>MAKE A NEW CONTRACT</h1>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/contract">Contract</a>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <p mat-list-item><br></p>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <h1 mat-subheader>CONTRACT MANAGEMENT</h1>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/submit">Submit</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/supervise">Supervise</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/examine">Examine</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/convene">Convene</a>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
</mat-nav-list>
