<p class="title mat-h1">INDEPENDENT STUDY CONTRACTS MANAGEMENT</p>
<mat-card class="contract-card">
    <mat-list>
        <h3 mat-subheader>{{(this.route === '/supervise' || this.route === '/convene')?
            'Awaiting Contracts':(this.route === '/examine')? 'Awaiting Requests' : 'Saved Contracts'}}</h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let contract of preContractList">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p>{{contract.title}}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{contract.studentName}}({{contract.studentId}})
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-grid-list cols="5" rowHeight="6:1">
                    <mat-list>
                    <mat-grid-tile colspan="3">
                        <h3 mat-subheader>Course</h3>
                        <mat-list-item>
                            <h4 mat-line>{{contract.courseNumber}}, {{contract.courseName}}</h4>
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h3 mat-subheader>Year/Semester</h3>
                        <mat-list-item>
                            <h4 mat-line>{{contract.contractObj["year"]}}/S{{contract.contractObj["semester"]}}</h4>
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h3 mat-subheader>Duration</h3>
                        <mat-list-item>
                            <h4 mat-line>{{contract.contractObj['duration']}} Semester</h4>
                        </mat-list-item>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="5">
                        <h3 mat-subheader>Project Objectives</h3>
                        <mat-list-item></mat-list-item>

                    </mat-grid-tile>
                        <mat-grid-tile colspan="5">
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj['special_topics']?
                                    contract.contractObj['special_topics']['objectives']:
                                    contract.contractObj['individual_project']['objectives']}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                    <mat-grid-tile colspan="5">
                        <h3 mat-subheader>Project Description</h3>
                        <mat-list-item></mat-list-item>
                    </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj['special_topics']?
                                    contract.contractObj['special_topics']['description']:
                                    contract.contractObj['individual_project']['description']}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <div *ngFor="let assessment of contract.assessment">
                    <mat-grid-tile colspan="5">
                        <mat-list-item></mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="5">
                        <h3 mat-subheader>Assessment: </h3>
                        <mat-list-item>
                            <h4 mat-line>{{assessment["assessmentName"]}}<br></h4>
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h3 mat-subheader>Style</h3>
                        <mat-list-item>
                            <h4 mat-line>{{assessment["additionalDescription"]}}</h4>
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h3 mat-subheader>Mark</h3>
                        <mat-list-item>
                            <h4 mat-line>{{assessment["weight"]}}</h4>
                        </mat-list-item>
                    </mat-grid-tile>
                        <mat-grid-tile>
                            <h3 mat-subheader>Due</h3>
                            <mat-list-item>
                                <h4 mat-line>{{assessment["due"]}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <h3 mat-subheader>Examiner</h3>
                            <mat-list-item>
                                <h4 mat-line>{{assessment["examiner"]}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        </div>

                    </mat-list>
                </mat-grid-list>
                <div class="control-button-row">
                <a *ngIf="this.route === '/submit'" mat-raised-button color="primary" routerLink="/contract-viewer" [state]="contract">EDIT</a>
                <a *ngIf="this.route === '/submit'" mat-raised-button color="primary" routerLink="/submit" (click)="submit(contract.contractId)">SUBMIT</a>
                <form *ngIf="this.route === '/supervise'" (ngSubmit)="approveSupervise(examiner.value, contract)">
                    <div class="nomination-form">
                    <mat-form-field appearance="standard">
                        <mat-label>Examiner's Name</mat-label>
                        <input #examiner matInput required id="examiner">
                    </mat-form-field>
                    <button class="" mat-raised-button color="primary" type="submit" [disabled]="!examiner.checkValidity()">
                        APPROVE AND NOMINATE EXAMINER</button>
                    </div>
                </form>
                <!--<a *ngIf="this.route === '/supervise'" mat-raised-button color="primary" routerLink="/approve">APPROVE</a>-->
                <a *ngIf="this.route === '/examine'" mat-raised-button color="primary" routerLink="/examine"
                   (click)="confirm(contract.contractId, contract.assessment)">CONFIRM</a>
                <a *ngIf="this.route === '/convene'" mat-raised-button color="primary"
                   (click)="approveConvene(contract.contractId)">APPROVE</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
        <h3 mat-subheader>{{(this.route === '/supervise' || this.route === '/convene')?
            'Approved Contracts':(this.route === '/examine')? 'Confirmed Requests' : 'Submitted Contracts'}}</h3>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let contract of postContractList">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p>{{contract.title}}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{contract.studentName}}({{contract.studentId}})
                        {{this.route === '/submit' ? ' - ' + contract.status : ''}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-grid-list cols="5" rowHeight="6:1">
                    <mat-list>
                        <mat-grid-tile colspan="3">
                            <h3 mat-subheader>Course</h3>
                            <mat-list-item>
                                <h4 mat-line>{{contract.courseNumber}}, {{contract.courseName}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h3 mat-subheader>Year/Semester</h3>
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj["year"]}}/S{{contract.contractObj["semester"]}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h3 mat-subheader>Duration</h3>
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj['duration']}} Semester</h4>
                            </mat-list-item>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="5">
                            <h3 mat-subheader>Project Objectives</h3>
                            <mat-list-item></mat-list-item>

                        </mat-grid-tile>
                        <mat-grid-tile colspan="5">
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj['special_topics']?
                                    contract.contractObj['special_topics']['objectives']:
                                    contract.contractObj['individual_project']['objectives']}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="5">
                            <h3 mat-subheader>Project Description</h3>
                            <mat-list-item></mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-list-item>
                                <h4 mat-line>{{contract.contractObj['special_topics']?
                                    contract.contractObj['special_topics']['description']:
                                    contract.contractObj['individual_project']['description']}}</h4>
                            </mat-list-item>
                        </mat-grid-tile>
                        <div *ngFor="let assessment of contract.assessment">
                            <mat-grid-tile colspan="5">
                                <h3 mat-subheader>Assessment: </h3>
                                <mat-list-item>
                                    <h4 mat-line>{{assessment["assessmentName"]}}<br></h4>
                                </mat-list-item>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h3 mat-subheader>Style</h3>
                                <mat-list-item>
                                    <h4 mat-line>{{assessment["additionalDescription"]}}</h4>
                                </mat-list-item>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h3 mat-subheader>Mark</h3>
                                <mat-list-item>
                                    <h4 mat-line>{{assessment["weight"]}}</h4>
                                </mat-list-item>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h3 mat-subheader>Due</h3>
                                <mat-list-item>
                                    <h4 mat-line>{{assessment["due"]}}</h4>
                                </mat-list-item>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2">
                                <h3 mat-subheader>Examiner</h3>
                                <mat-list-item>
                                    <h4 mat-line>{{assessment["examiner"]}}</h4>
                                </mat-list-item>
                            </mat-grid-tile>
                        </div>

                    </mat-list>
                </mat-grid-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</mat-card>
