.contract-button {
  width: 100%;
  a {
    width: 100%;
    text-align: left;
  }
}

.title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.control-button-row a {
  margin-right: 8px;
}

.mat-list-base .mat-subheader:first-child, .mat-subheader {
  width: 15em;
  color: darkred;
  font-size: 15px;
  margin-top: 0;
}

.nomination-form {
  display: flex;
  flex-direction: column;
}

.nomination-form > * {
  width: 100%;
}

.contract-card {
  margin: 0 4em 0;
}
