div {
  //display: inline;
  //align-items: center;
  //text-align: center;
  .contract-title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    //display: flex;
    text-align: center;
    margin: 16px 0 16px;
  }
}

