div {
  .contract-title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    //display: flex;
    text-align: center;
    margin: 2em 0 0;
  }

  .contract-title-disclaimer {
    text-align: center;
    margin: 0 0 2em;
  }
}
.form-card {
  margin: 0 7em 0;
}
