<mat-grid-list cols="6" rowHeight="4em">
  <mat-grid-tile colspan="1">
    <img class="logo"
         src="https://wattlecourses.anu.edu.au/pluginfile.php/1/core_admin/logo/0x200/1566393860/2x_anu_logo_small_over.png">
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <a href="/"><h1>Student Research Projects Management System</h1></a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <a mat-button *ngIf="!localUser; else userMenu" (click)="openLoginDialog()">
      Login
      <mat-icon>account_circle</mat-icon>
    </a>
    <ng-template #userMenu>
      <button mat-button [matMenuTriggerFor]="userMenuButton">
        {{displayName}}
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenuButton="matMenu"
                xPosition="before" yPosition="below">
        <div *ngIf="userInfo && userInfo.length > 0">
          <mat-list (click)="$event.stopPropagation();" dense>
            <mat-list-item *ngFor="let info of userInfo">{{info}}</mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        <a mat-menu-item (click)="accountService.logout()">
          Logout
        </a>
      </mat-menu>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
