/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "srpms-theme.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

header, footer {
  background-color: mat-color($accent);
  color:white;
}

a {
  text-decoration: none;
}

header {
  border-bottom: mat-color($primary) 5px solid;
  font-size: 20px;
  a {
    color:white;
  }
}

footer {
  font-size: 14px;
}

.logo {
  max-height: 45px;
  max-width: 127px;
}

app-sidenav a {
  text-decoration: none;
  color: black;
}

.mat-drawer-inner-container {
  text-align: center;
}

mat-sidenav {
  padding: 1em 1em 0 1em;
  width: 15%;
}

mat-sidenav-content {
  padding: 0 1em 0 1em;
}

mat-sidenav-container {
  height: 100vh;
}
