<mat-card class="form-card">
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let element of filteredElements">
        <div [className]="isAnotherSection(element.order) ?
	  'new-line' : (isTextArea(element.controlType) ? 'textarea-new-line' :
	  (isLastElement(element, elements) ? 'section-last-element' : 'form-element'))">
            <div *ngIf="isAnotherSection(element.order); else elseBlock">
                <h1>Section {{sectionDivider(element.order)}}: {{sectionList[sectionDivider(element.order)]}}</h1>
                <mat-divider></mat-divider>
            </div>
            <ng-template #elseBlock>
                <div [ngSwitch]="element.controlType">
                    <div *ngSwitchCase="'textbox'">
                        <div class="form-container" *ngIf="element.disabled; else elseBlock">
                            <mat-form-field appearance="fill">
                                <mat-label>{{element.label}}</mat-label>
                                <input matInput placeholder="{{element.label}}" [readonly]="true">
                                <input matInput [formControl]="form.controls[element.key]"
                                       [id]="element.key" [type]="element.type" [value]="element.value" [hidden]="true">
                                <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
                            </mat-form-field>
                        </div>
                        <ng-template #elseBlock>
                            <div class="form-container">
                                <mat-form-field appearance="outline" hintLabel="{{element.maxlength?'Max ' + element.maxlength + ' characters':''}}">
                                    <mat-label>{{element.label}}</mat-label>
                                    <input #input matInput placeholder="{{element.placeholder === ''?element.label:element.placeholder}}" [formControl]="form.controls[element.key]"
                                           [id]="element.key" [type]="element.type" [value]="contractViewer[element.key] ? contractViewer[element.key] : ''" [required]="element.required"
                                           [maxLength]="element.maxlength?element.maxlength:200">
                                    <mat-hint align="end">{{input.maxLength === 200?'':input.value?.length + ' / ' || 0}}{{element.maxlength}}</mat-hint>
                                    <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </div>

                    <div *ngSwitchCase="'dropdown'">
                        <div class="form-container">
                            <mat-form-field>
                                <mat-select placeholder="{{element.label}}" [id]="element.key" [formControl]="form.controls[element.key]">
                                    <mat-option *ngFor="let opt of element.choices" [value]="opt.value">{{opt.key}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngSwitchCase="'radiobox'">
                        <div class="form-container radiobox">
                            <label>{{element.label}}: </label>
                            <mat-radio-group [id]="element.key" [formControl]="form.controls[element.key]"><br>
                                <mat-radio-button *ngFor="let opt of element.choices" [value]="opt.value">{{opt.key}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div *ngSwitchCase="'textarea'">
                        <div class="form-container textarea">
                            <mat-form-field>
            <textarea #textarea matInput [id]="element.key" [formControl]="form.controls[element.key]"
                      placeholder="{{element.label}}" [maxLength]="element.maxlength?element.maxlength:0"></textarea>
                                <mat-hint align="end">{{textarea.maxLength === 0?'':textarea.value?.length || 0}} / {{element.maxlength}}</mat-hint>
                                <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngSwitchCase="'datepicker'">
                        <div>
                            <div class="form-container datepicker">
                                <mat-form-field appearance="standard">
                                    <mat-label>{{element.label}}</mat-label>
                                    <input matInput [matDatepicker]="datePicker" [id]="element.key" [formControl]="form.controls[element.key]"
                                           placeholder="{{element.placeholder}}" [readonly]="true">
                                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <!--<div class="errorMessage" *ngIf="!form.controls[element.key].valid">{{element.label}} is required</div>-->
    </div>
    <div class="new-line">
        <button class="form-submit-button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid ||
        !isContractChanged">Update</button>
    </div>

</form>
</mat-card>
