<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
	  <div *ngFor="let element of elements">
          <div *ngIf="element.flag === elementFlag || element.flag === 'common' || element.flag === '' ||
          element.key === 'course'" [className]="isAnotherSection(element.order) ?
	  'new-line' : (isTextArea(element.controlType) ? 'textarea-new-line' :
	  (isLastElement(element, elements) ? 'section-last-element' : 'form-element'))">
          <div *ngIf="isAnotherSection(element.order); else elseBlock">
              <h1>Section {{sectionDivider(element.order)}}: {{sectionList[sectionDivider(element.order)]}}</h1>
            <mat-divider></mat-divider>
          </div>
          <ng-template #elseBlock>
            <app-contract-form-element [elementFlag]="elementFlag" [element]="element" [form]="form" (formFlagEvent)="receiveFormFlag($event)"></app-contract-form-element>
          </ng-template>
          </div>
      </div>
	<div class="new-line">
	  <button class="form-submit-button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
	</div>
  </form>
</div>
