.form-element {
  float: left;
  width: 40%;
  margin: 1em 5%;
  height: 60px;
}

.section-last-element {
  float: left;
  width: 40%;
  margin: 1em 0 5% 5%;
}

.new-line {
  clear: both;
  position: relative;
  margin-bottom: 1em;
  margin-top: 4em;
}

.form-submit-button {
  width: 100%;
}
