<div [formGroup]="form">
<div [ngSwitch]="element.controlType">

    <div *ngSwitchCase="'textbox'">
    <div class="form-container" *ngIf="elementFlag?
    (element.flag==='common')||(element.flag === elementFlag):false">
    <div class="form-container" *ngIf="element.disabled; else elseBlock">
    <mat-form-field appearance="fill">
    <mat-label>{{element.label}}</mat-label>
    <input matInput placeholder="{{element.label}}" [readonly]="true">
    <input matInput [formControl]="form.controls[element.key]"
           [id]="element.key" [type]="element.type" [value]="element.value" [hidden]="true">
    <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
    </mat-form-field>
    </div>
    <ng-template #elseBlock>
    <mat-form-field appearance="outline">
        <mat-label>{{element.label}}</mat-label>
        <input matInput placeholder="{{element.placeholder === ''?element.label:element.placeholder}}" [formControl]="form.controls[element.key]"
               [id]="element.key" [type]="element.type" [value]="element.value">
        <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
    </mat-form-field>
    </ng-template>
    </div>
    </div>

    <div *ngSwitchCase="'dropdown'">
    <div class="form-container" *ngIf="element.key == 'course'; else elseBlock">
    <mat-form-field>
    <mat-select placeholder="{{element.label}}" [id]="element.key" [formControl]="form.controls[element.key]"
                (selectionChange)="sendFormFlag()">
        <mat-option *ngFor="let opt of element.choices" [value]="opt.value">{{opt.key}}</mat-option>
    </mat-select>

    </mat-form-field>
    </div>
    <ng-template #elseBlock>
    <div class="form-container" *ngIf="elementFlag?
    (element.flag==='common')||(element.flag === elementFlag):false">
        <mat-form-field>
            <mat-select placeholder="{{element.label}}" [id]="element.key" [formControl]="form.controls[element.key]">
                <mat-option *ngFor="let opt of element.choices" [value]="opt.value">{{opt.key}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    </ng-template>
    </div>

    <div *ngSwitchCase="'radiobox'">
    <div class="form-container radiobox" *ngIf="elementFlag?
    (element.flag==='common')||(element.flag === elementFlag):false">
        <label>{{element.label}}: </label>
        <mat-radio-group [id]="element.key" [formControl]="form.controls[element.key]">
            <mat-radio-button *ngFor="let opt of element.choices" [value]="opt.value">{{opt.key}}</mat-radio-button>
        </mat-radio-group>
    </div>
    </div>

    <div *ngSwitchCase="'textarea'" class="form-container textarea">
    <div class="form-container textarea" *ngIf="elementFlag?
    (element.flag==='common')||(element.flag === elementFlag):false">
        <mat-form-field>
            <textarea matInput [id]="element.key" [formControl]="form.controls[element.key]"
                      placeholder="{{element.label}}"></textarea>
            <mat-error *ngIf="form.controls[element.key].invalid">{{getErrorMessage(form.controls[element.key])}}</mat-error>
        </mat-form-field>
    </div>
    </div>
</div>
</div>
