
<header>
  <div class="container">

      <li><img class ="logo-left" src="https://wattlecourses.anu.edu.au/pluginfile.php/1/core_admin/logo/0x200/1566393860/2x_anu_logo_small_over.png"></li>
      <li><a href="#" class="logo"><p>Student Research Projects Management System</p></a></li>
      <li><a href="#" class="login">Login</a></li>

  </div>
  <div class="header-underline"></div>
</header>

<div class="container">

  <div class="container menu-left">
    <app-menuleft></app-menuleft>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

