<section class="mat-typography">
<title>srpms-title</title>
<header>
    <app-header></app-header>
</header>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-container>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>

<footer>
    <mat-grid-list cols="1" rowHeight="2em">
        <mat-grid-tile colspan="1">
            The Australian National University
        </mat-grid-tile>
    </mat-grid-list>
</footer>
</section>