
<header>
  <div class="container-fluid">
    <img class ="logo-left col-md-3" src="https://wattlecourses.anu.edu.au/pluginfile.php/1/core_admin/logo/0x200/1566393860/2x_anu_logo_small_over.png">

    <a href="#" class="logo col-md-6 col-md-offset-3">Student Research Projects Management System</a>
    <a href="#" class="login col-md-3 col-md-offset-3">Login</a>
  </div>
  <div class="header-underline"></div>
</header>

<div class="container">

  <div class="container col-md-3 menu-left">
    <app-menuleft></app-menuleft>
  </div>

  <div class="container col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>

